@use "variables";
@use "keyframes";

#nav-menu {
    background-color: variables.$header-color;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 12em;

    a {
        color: variables.$text-color;
        text-decoration: none;
        font-size: variables.$font-size-nav;
    }
    li a:hover {
        animation: colorChange 1s ease-in-out infinite;
    }
  }

  .menu-nav {
    position: relative;
    margin-left: auto;
    
}

.menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 20;
    margin-top: 1.7em;
    margin-right: 1em;
  }
