@use "variables";
@use "mixins";
@use "keyframes";

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background-color: variables.$header-color;
    padding-right: 1em;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.logotyp {
    display: flex;
    align-items: center;
    gap: 1em;
    h1 {
    font-size: variables.$font-size-logotyp;
    white-space: nowrap;
    margin-top: 3em;
    }
    img {
        width: 10em;
        padding-left: 2em;
        padding-right: 1em;
        height: auto;
        animation: scale 1s infinite alternate linear;
    }
}

h2 {
    @extend %flex-center;
    font-size: variables.$font-size-title;
    animation: zoomIn 1.2s ease-out;
}

#map {
    animation: shadowAnimation 3s infinite;
    border-radius: 5px;
    width: 90%;
    height: 700px;
    filter: contrast(100%);
}

#map-container {
    @extend %flex-center;
}

#search-btn {
    @include mixins.button;
    font-weight: bold;
}

#search-container {
    @extend %flex-center;
    gap: 2em;
    margin-bottom: 3em;
}

#location-input {
    height: 2.5em;
    width: 23em;
}

.explanation {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    white-space: nowrap;
    img {
        margin-right: 0.5em;
    }
    span {
    font-size: variables.$font-size-button;
    color: variables.$button-text-color;
    margin-right: 1em;
}
}

.headline {
    @extend %flex-center;
    img {
        height: auto;
        margin-left: 3em;
        animation: carVibrate 0.5s ease-in-out infinite;
    }
}

#info {
    h3 {
        font-size: variables.$font-size-h3;
    }

    p {
        font-size: variables.$font-size-text;
        line-height: 2em;
    }
}

footer {
    display: flex;
    width: 100%;
    background-color: variables.$header-color;
    margin: 0;
    height: 10em;

    p {
        font-size: variables.$font-size-nav;
        margin: 2em auto;
        animation: footerAnimation 5s linear infinite alternate;
    }
}

.news-item {
    h3 {
        margin-top: 3em;
        font-size: variables.$font-size-h3;
        @extend %flex-center;
    }

    p {
        font-size: variables.$font-size-text;
        line-height: 2em;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        border-bottom: 2px solid variables.$link-underline-color
    }
}

.news-item img {
    border-radius: 10px;
    animation: shadowAnimation 3s infinite;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

#crisis-info-container {
    p {
        font-size: 1.2em;
    line-height: 2em;
    }
}

.news-intro  {
    h3 {
    font-size: variables.$font-size-nav;
    @extend %flex-center;
} 

img {
    width: 7%;
    height: auto;
    animation: bounceAnimation 1s infinite;
    margin-left: 1em;
}
}

#weather-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.image-container {
    position: relative;
    width: 100px;
    height: 100px;
}

.weather {
    width: 100%;
    height: 100%;
}

.lightning {
    position: absolute;
    top: 1em;
    left: 2em;
    width: 50%;
    height: 50%;
    z-index: 1;
    animation: scale 1s infinite alternate linear;
}

.weather-data {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    margin-left: 10em;
    margin-right: 10em;
}

#hourly-weather {
    h3 {
font-size: variables.$font-size-title-mobile;
    }
}

#daily-weather {
    h3 {
font-size: variables.$font-size-title-mobile;
    }

}

.sr-only {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}