@use "variables";
@use "mixins";

@include mixins.media-query('tablet') { //(min-width: 908px) and (max-width: 1307px
    
    #nav-menu a {
font-size: variables.$font-size-nav-smaller;
    }
    .logotyp h1 {
        font-size: variables.$font-size-logotyp-smaller;
        margin-top: 1em;
    }

    .logotyp img {
        width: 7em;
    }
}

@include mixins.media-query('extra') { //max-width: 907px

    #map {
        height: 400px;
        margin-bottom: 3em;
    }

    .menu-toggle {
        display: flex;
        justify-content: flex-end;
        align-self: flex-start;
        position: absolute;
        right: 2em;
        top: 1em;
        padding: 1em;

        .bars {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
          }
      }

      .headline img {
        width: 50%;
      }

    #nav-menu {
        display: none;
        flex-direction: row;
        flex-wrap: wrap;

        a {
            font-size: 1em;
        }
    }

    #nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        font-weight: bold;
        right: -1em;
        top: -6em;
        padding: 2em;
        z-index: 100;
        box-sizing: border-box;
      }

      .content h2 {
        font-size: variables.$font-size-title-mobile;
      }
}

.explanation {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 2em;
    }
}

.prio {
    margin-bottom: 1em;
}

#info {
    h3 {
    font-size: variables.$font-size-title-mobile;
    }
    p {
        font-size: variables.$font-size-button;
    }
}

#weather-info-container {
gap: 2em;
h2 {
    font-size: variables.$font-size-logotyp-smaller;
}
}

.news-intro h3 {
    font-size: variables.$font-size-title-mobile;
}

footer p {
    font-size: variables.$font-size-title-mobile;
    margin: 2.6em auto;
}

.weather-data {
    gap: 15em;
    padding-left: 2em;
    padding-right: 2em;
}


@include mixins.media-query('smaller') { //max-width: 600px

    .logotyp img {
        width: 4em;
    }

    .logotyp h1 {
        font-size: variables.$font-size-text;
    }

    .content h2 {
        font-size: variables.$font-size-text;
    }

    #info h3 {
        font-size: variables.$font-size-text;
    }
    
    footer p {
        font-size: variables.$font-size-text;
    }

    .news-intro h3 {
        font-size: variables.$font-size-text;
    }

    .news-item h3 {
        font-size: variables.$font-size-text;
    }

    .news-item p {
        font-size: variables.$font-size-button;
    }

    #crisis-info-container p {
        font-size: variables.$font-size-button;
    }

    #weather-info-container h2 {
        font-size: variables.$font-size-text;
    }

    #hourly-weather h3, #daily-weather h3 {
        font-size: variables.$font-size-text;
    }

    .weather-data {
        gap: 3em;
    }

    .weather {
        width: 50%;
        height: auto;
    }

    .lightning {
        width: 25%;
        height: 25%;
        top: 0.3em;
    left: 1em;
    }

    #weather-info-container {
        gap: 1em;

        h2 {
            white-space: nowrap;
        }
    }

    #search-container {
        gap: 0.5em;
    }

    #location-input {
        width: 15em;
        height: 2.5em;
    }

    #nav-menu.active {
        top: -9.5em;
}

.news-intro img {
    margin-left: 0;
    position: absolute;
    top: 11em;
}
}

@include mixins.media-query('mobile') { // max-width 375px
    #weather-info-container h2 {
        font-size: 1.2em;
    }

    .image-container {
        width: 6em;
        height: 6em;
    }

    .weather-data {
        display: block;
        flex-direction: column;
    }

    #hourly-weather, #daily-weather {
        margin-bottom: 1em;
    }

    #weather-info-container h2, #hourly-weather h3, #daily-weather h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 1em;
    }


}