$header-color: #F6F0F0;
$font-stack: 'Inria Sans', sans-serif;
$font-size-logotyp: 2.5em;
$font-size-title: 3em;
$font-size-title-mobile: 1.6em;
$font-size-nav: 2em;
$font-size-button: 1em;
$font-size-text: 1.2em;
$text-color: black;
$button-color: #E1DBDB;
$button-text-color: black;
$darker-button-color: darker($button-color, 20%);
$font-size-h3: 2em;
$link-underline-color: #cd8532;